* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #1c1c1c;
    color: #ffffff
}

main {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

/* accordion styles */
.accordion-item {
    border-bottom: solid 2px #fff;
    padding-bottom: 1rem;
    max-width: 600px;
    margin-top: 2rem;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    cursor: pointer;
    align-items: center;
}

.accordion-title h3 {
    font-size: 1.5rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.accordion-content p {
    padding-top: 0.5rem;
    line-height: 1.5;
    font-size: 1.2rem;
}

svg {
    transition: transform 0.5s ease;
}

/* Open Close transformation */
.accordion-item.active .accordion-content {
    max-height: 400px;
    animation: fade 1s ease-in-out;
}

.accordion-item.active svg {
    transform: rotate(180deg);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}